<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hoe Much Water Do You Drink?
    </h1>
    <form action="/send" method="post">
        <label for="water">Oz of water:</label>
        <input type="text" id="water" name="water"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>